.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  background-image: url("./logo.jpg");
  background-size: cover;
}

.title {
  font-size: 4vh;
  font-family: "Lucida Console", Times, serif;
  color: aliceblue;
  margin: 40px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 3px 4px 7px rgba(233, 229, 216, 0.8);
}

@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 25vh;
  }
  .title {
    font-size: 15vw;
    margin-top: 10vw;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
}

.search {
  width: 40%;
  border-radius: 50px;
  text-align: center;
  padding-top: 12px !important;
}

.select {
  width: 43%;
}
